.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  height: 50px;
  width: 50px;
  margin: 1px;
  border-radius: 50%;
  background-color: white;
  display: flex;
}
.boxAppBar {
  height: 25px;
  width: 25px;
  margin: 1px;
  border-radius: 50%;
  background-color: white;
  display: flex;
}

.containers {
  display: inline-block;
}
.containersSlide {
  display: inline-flex;
}
.colWheel {
  align-items: center;
  margin: auto;
}

.boxColors {
  width: 300px;
  height: 300px;
  margin: 1px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  margin-top: 0px;
}
.middleRow {
  width: 100vw;
}
.Banner-Row {
  width: 100vw;
  height: 80px;
}
.circleText {
  margin: auto;
  text-align: center;
}

.bottomNav {
  bottom: 0;
  position: fixed;
  background: rgb(9, 9, 9);
  width: 100vw;
}

.middleContent {
  margin-top: 0vh;
  height: 75vh;
  display: flex;
  align-items: center;
}
.spotifyplayer {
  display: flex;
  width: 85vw;
  border-radius: 12px;
  margin-left: 0;
  margin-right: auto;
}
.instructions {
  width: 33vw;
  padding-left: 24px;
}
.title-wrapper {
  width: 80vw;
  align-items: left;
}
.title {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
}
